.header {
  width: 100%;
  background-color: #18298A;
  color: #FFF;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}


.header-name {
  color: #fff;
  display: block;
  text-align: center;
}

.auth{
  display: flex;
  flex-direction: row;
}
