.header {
  display: flex;
  justify-content: space-between;
  height: 11.5vh;
  background: #1C2989;
}

.header-name {
  color: #fff;
  display: block;
  text-align: center;
}

.auth{
  display: flex;
  flex-direction: row;
}

.header > div {
  margin-top: 10px;
}

.fa-user {
  color: #fff;
}
