.track-detail-container {
  height: 100vh;
  background-image:url('https://s3-us-west-1.amazonaws.com/eden-audio/application_images/track_detail_background.jpg'), radial-gradient(#3B30CA, #2847BB);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.track-detail {
  // margin-top: 15vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.track-detail-img {
  width: 40vh;
  height: 40vh;
}

.track-detail-title {
  margin-top: 2.5vh;
  font-size: 3vh;
}

.track-detail-artist {
  margin: 1vh 0;
}
