.track-index {
  display: grid;
}

.track-item {
  margin: 2vh;
  background-color: #e8e8ee;
  border: 1px solid gray;
}

.track-item-image {
  width: 30vh;
  height: 30vh;
  margin: 2vh 1vh;
}


.upload-button {
  border: 1px solid gray;
  margin: 1vh 2vh;
}
