.track-profile {
  height: 100%;
  padding-bottom: 20vh;
  background-image:url('https://s3-us-west-1.amazonaws.com/eden-audio/application_images/track_detail_background.jpg'), linear-gradient(to right, #3B30CA, #2847BB);
  background-blend-mode: overlay;
  // background-image:url('https://s3-us-west-1.amazonaws.com/eden-audio/application_images/track_detail_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.track-detail {
  margin-top: 10vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.track-detail-img {
  width: 40vh;
  height: 40vh;
}

.track-detail-title {
  margin-top: 2.5vh;
  font-size: 3vh;
}

.track-detail-artist {
  margin: 1vh 0;
}
