/* line 1, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.signup-button {
  background-color: #fff;
  color: #224099;
  border: none;
  width: 8rem;
}

/* line 8, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.login-button {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: none;
  width: 8rem;
}

/* line 15, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.auth-modals {
  align-items: center;
}

/* line 19, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.login-username {
  border: none;
}

/* line 23, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.login-password {
  border: none;
}

/* line 27, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.signup-username {
  border: none;
}

/* line 31, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.signup-email {
  border: none;
}

/* line 35, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.signup-password {
  border: none;
}

/* line 39, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.modal-body {
  display: flex;
  flex-direction: column;
}

/* line 44, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.session-form {
  z-index: 0.1;
}

/* line 48, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.modal-body {
  flex-direction: column;
}

/* line 52, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.session-button {
  position: relative;
  top: -.1rem;
  margin: 0 .6rem;
  height: 2.2rem;
  font-size: 1.2rem;
  line-height: 2.2rem;
  border-radius: .2rem;
  text-align: center;
  white-space: nowrap;
  padding: 0 .8rem;
}
/* line 1, /Users/tyler/Git/eden/app/assets/stylesheets/header.css.scss */
.homepage-main {
  display: flex;
  justify-content: space-between;
  background: #2747FF;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#008AED, #2747FF);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#008AED, #2747FF);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#008AED, #2747FF);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#008AED, #2747FF);
  /* Standard syntax */
}

/* line 11, /Users/tyler/Git/eden/app/assets/stylesheets/header.css.scss */
.homepage-header {
  color: #fff;
  display: block;
  text-align: center;
}

/* line 16, /Users/tyler/Git/eden/app/assets/stylesheets/header.css.scss */
.auth-modals {
  display: flex;
  flex-direction: row;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 18, /Users/tyler/Git/eden/app/assets/stylesheets/application.css.scss */
* {
  font-family: helvetica;
}
