/* line 1, /Users/tyler/Git/eden/app/assets/stylesheets/components/footer/playbar.scss */
.footer {
  margin-top: 10vh;
  height: 10vh;
  position: fixed;
  bottom: 100px;
  display: flex;
}

/* line 10, /Users/tyler/Git/eden/app/assets/stylesheets/components/footer/playbar.scss */
.playbar {
  width: 100%;
  height: 10vh;
}

/* line 15, /Users/tyler/Git/eden/app/assets/stylesheets/components/footer/playbar.scss */
.progressbar {
  height: 2vh;
  background-color: pink;
}

/* line 19, /Users/tyler/Git/eden/app/assets/stylesheets/components/footer/playbar.scss */
.volume-container {
  height: 4vh;
}

/* line 24, /Users/tyler/Git/eden/app/assets/stylesheets/components/footer/playbar.scss */
.react-player {
  display: none;
}

/* line 28, /Users/tyler/Git/eden/app/assets/stylesheets/components/footer/playbar.scss */
.controls {
  display: flex;
  flex-direction: row;
}

/* line 34, /Users/tyler/Git/eden/app/assets/stylesheets/components/footer/playbar.scss */
.time-elapsed {
  display: inline-flex;
}

/* line 38, /Users/tyler/Git/eden/app/assets/stylesheets/components/footer/playbar.scss */
.repeat-on {
  color: #09DA73;
}

/* line 42, /Users/tyler/Git/eden/app/assets/stylesheets/components/footer/playbar.scss */
.volume-button {
  display: block;
  background-color: red;
  height: 200px;
  width: 200px;
}
/* line 1, /Users/tyler/Git/eden/app/assets/stylesheets/components/header/header.scss */
.header {
  display: flex;
  justify-content: space-between;
  height: 20vh;
}

/* line 12, /Users/tyler/Git/eden/app/assets/stylesheets/components/header/header.scss */
.header-name {
  color: #fff;
  display: block;
  text-align: center;
}

/* line 18, /Users/tyler/Git/eden/app/assets/stylesheets/components/header/header.scss */
.auth {
  display: flex;
  flex-direction: row;
}

/* line 23, /Users/tyler/Git/eden/app/assets/stylesheets/components/header/header.scss */
.header > div {
  margin-top: 10px;
}
/* line 1, /Users/tyler/Git/eden/app/assets/stylesheets/components/searchbar/searchbar.scss */
.searchbar {
  border: 2px solid gray;
  display: grid;
  height: 25px;
}

/* line 7, /Users/tyler/Git/eden/app/assets/stylesheets/components/searchbar/searchbar.scss */
.search-img {
  height: 20vh;
  width: 20vh;
}
/* line 26, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.modal-body, .modal-title, .modal-footer {
  font-size: 18px;
}

/* line 30, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.auth-input {
  margin-left: 2px;
  border: none;
}

/* line 35, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.session-form {
  z-index: 0.1;
}

/* line 39, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.modal-body {
  display: flex;
  flex-direction: column;
}

/* line 44, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.dropdown-form {
  background-color: white;
}

/* line 48, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.user-profile-icon {
  font-size: 10px;
}
/* line 1, /Users/tyler/Git/eden/app/assets/stylesheets/components/track/track.scss */
.track-index {
  display: grid;
}

/* line 5, /Users/tyler/Git/eden/app/assets/stylesheets/components/track/track.scss */
.track-item {
  margin: 2vh;
  background-color: #e8e8ee;
  border: 1px solid gray;
}

/* line 11, /Users/tyler/Git/eden/app/assets/stylesheets/components/track/track.scss */
.track-item-image {
  width: 30vh;
  height: 30vh;
  margin: 2vh 1vh;
}

/* line 18, /Users/tyler/Git/eden/app/assets/stylesheets/components/track/track.scss */
.upload-button {
  border: 1px solid gray;
  margin: 1vh 2vh;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 18, /Users/tyler/Git/eden/app/assets/stylesheets/application.css.scss */
* {
  font-family: 'Roboto', sans-serif;
}

/* line 22, /Users/tyler/Git/eden/app/assets/stylesheets/application.css.scss */
button {
  border: none;
  background: none;
}

/* line 27, /Users/tyler/Git/eden/app/assets/stylesheets/application.css.scss */
input {
  background: none;
  border: none;
}

/* line 32, /Users/tyler/Git/eden/app/assets/stylesheets/application.css.scss */
.fa-container {
  font-size: 5vh;
}

/* line 36, /Users/tyler/Git/eden/app/assets/stylesheets/application.css.scss */
.link {
  color: black;
}
