/* line 1, /Users/tyler/Git/eden/app/assets/stylesheets/components/header/header.scss */
.header {
  width: 100%;
  background-color: #18298A;
  color: #FFF;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100vw;
}

/* line 15, /Users/tyler/Git/eden/app/assets/stylesheets/components/header/header.scss */
.searchbar {
  margin-left: 0px !important;
}

/* line 20, /Users/tyler/Git/eden/app/assets/stylesheets/components/header/header.scss */
.header-name {
  color: #fff;
  display: block;
  text-align: center;
}

/* line 26, /Users/tyler/Git/eden/app/assets/stylesheets/components/header/header.scss */
.auth {
  display: flex;
  flex-direction: row;
}

/* line 31, /Users/tyler/Git/eden/app/assets/stylesheets/components/header/header.scss */
.links {
  display: flex;
  flex-direction: row;
}

/* line 40, /Users/tyler/Git/eden/app/assets/stylesheets/components/header/header.scss */
.header-link {
  color: #fff;
}

/* line 44, /Users/tyler/Git/eden/app/assets/stylesheets/components/header/header.scss */
.header-link:hover {
  color: white;
}

/* line 48, /Users/tyler/Git/eden/app/assets/stylesheets/components/header/header.scss */
.now-playing {
  margin-left: 40px;
}

/* line 51, /Users/tyler/Git/eden/app/assets/stylesheets/components/header/header.scss */
.my-stations {
  margin-left: 23px;
}

/* line 54, /Users/tyler/Git/eden/app/assets/stylesheets/components/header/header.scss */
.header-auth-buttons {
  position: relative;
  display: flex;
  margin-right: 25px;
  align-items: center;
}

/* line 61, /Users/tyler/Git/eden/app/assets/stylesheets/components/header/header.scss */
.eden {
  margin-right: 20px;
}
/* line 1, /Users/tyler/Git/eden/app/assets/stylesheets/components/homepage/homepage.scss */
.homepage {
  display: flex;
  flex-direction: row;
}

/* line 6, /Users/tyler/Git/eden/app/assets/stylesheets/components/homepage/homepage.scss */
.homepage-sidebar {
  flex-direction: column;
  width: 150px;
  background: #20008A;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#20008A, #1E105B);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#20008A, #1E105B);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#20008A, #1E105B);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#20008A, #1E105B);
  /* Standard syntax */
  background-blend-mode: overlay;
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
  color: #fff;
}

/* line 23, /Users/tyler/Git/eden/app/assets/stylesheets/components/homepage/homepage.scss */
.homepage-sidebar-header {
  margin-left: 42.5px;
}

/* line 29, /Users/tyler/Git/eden/app/assets/stylesheets/components/homepage/homepage.scss */
.homepage-main {
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-image: url("	https://s3-us-west-1.amazonaws.com/eden-audio/application_images/splashpage.gif");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 3400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 36px;
}

/* line 50, /Users/tyler/Git/eden/app/assets/stylesheets/components/homepage/homepage.scss */
.homepage-features {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

/* line 56, /Users/tyler/Git/eden/app/assets/stylesheets/components/homepage/homepage.scss */
.homepage-feature {
  margin-top: 200px;
}

/* line 60, /Users/tyler/Git/eden/app/assets/stylesheets/components/homepage/homepage.scss */
.homepage-footer {
  margin-top: 300px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 67, /Users/tyler/Git/eden/app/assets/stylesheets/components/homepage/homepage.scss */
.homepage-footer-detail {
  display: inline;
  margin-left: 100px;
}
/* line 1, /Users/tyler/Git/eden/app/assets/stylesheets/components/playbar/audio.scss */
.body-audio {
  margin-top: 64px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* line 9, /Users/tyler/Git/eden/app/assets/stylesheets/components/playbar/audio.scss */
.audio {
  height: 100%;
}
/* line 1, /Users/tyler/Git/eden/app/assets/stylesheets/components/playbar/playbar.scss */
.playbar {
  width: 100%;
  background-color: #18298A;
  color: #FFF;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

/* line 13, /Users/tyler/Git/eden/app/assets/stylesheets/components/playbar/playbar.scss */
.react-player {
  display: none;
}

/* line 17, /Users/tyler/Git/eden/app/assets/stylesheets/components/playbar/playbar.scss */
.playbar-track_detail, .controls-progress-container, .volume-container {
  height: 10vh;
}

/* line 21, /Users/tyler/Git/eden/app/assets/stylesheets/components/playbar/playbar.scss */
.playbar-track-detail {
  display: flex;
  flex-direction: row;
  margin-left: 5vh;
  width: 20%;
  margin-right: 20vh;
}

/* line 29, /Users/tyler/Git/eden/app/assets/stylesheets/components/playbar/playbar.scss */
.playbar-track-text {
  margin-left: 1.5vh;
}

/* line 33, /Users/tyler/Git/eden/app/assets/stylesheets/components/playbar/playbar.scss */
.playbar-track-image {
  width: 50px;
  height: 50px;
  margin-top: 3.5px;
}

/* line 39, /Users/tyler/Git/eden/app/assets/stylesheets/components/playbar/playbar.scss */
.playbar-track-title {
  font-size: 2vh;
  margin-top: 3.5px;
  margin-bottom: 5px;
}

/* line 45, /Users/tyler/Git/eden/app/assets/stylesheets/components/playbar/playbar.scss */
.playbar-track-artist {
  font-size: 1.75vh;
}

/* line 49, /Users/tyler/Git/eden/app/assets/stylesheets/components/playbar/playbar.scss */
.controls-progress-container, .volume-container {
  margin-top: 2.5vh;
}

/* line 53, /Users/tyler/Git/eden/app/assets/stylesheets/components/playbar/playbar.scss */
.controls-progress-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

/* line 60, /Users/tyler/Git/eden/app/assets/stylesheets/components/playbar/playbar.scss */
.controls {
  display: flex;
  flex-direction: row;
  align-self: center;
}

/* line 66, /Users/tyler/Git/eden/app/assets/stylesheets/components/playbar/playbar.scss */
.volume-button, .controls > button {
  margin: 0 3.25vh;
}

/* line 70, /Users/tyler/Git/eden/app/assets/stylesheets/components/playbar/playbar.scss */
.progress-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

/* line 77, /Users/tyler/Git/eden/app/assets/stylesheets/components/playbar/playbar.scss */
.time {
  margin-bottom: 3vh;
}

/* line 80, /Users/tyler/Git/eden/app/assets/stylesheets/components/playbar/playbar.scss */
.progressbar {
  margin: -5vh 2.5vh;
  width: 100%;
}

/* line 85, /Users/tyler/Git/eden/app/assets/stylesheets/components/playbar/playbar.scss */
.volume-container {
  display: flex;
  flex-direction: row;
  width: 25%;
  align-items: center;
  margin-left: 10vh;
  margin-right: 5vh;
  height: 100%;
}

/* line 95, /Users/tyler/Git/eden/app/assets/stylesheets/components/playbar/playbar.scss */
.volume-slider {
  margin-bottom: 2.5px;
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
}

/* line 103, /Users/tyler/Git/eden/app/assets/stylesheets/components/playbar/playbar.scss */
.volume-button {
  margin-left: 7.5vh;
  display: flex;
  flex-direction: row;
  font-size: 2vh !important;
}

/* line 110, /Users/tyler/Git/eden/app/assets/stylesheets/components/playbar/playbar.scss */
.like-dislike-highlight, .repeat-on {
  color: #FF7100;
}
/* line 1, /Users/tyler/Git/eden/app/assets/stylesheets/components/searchbar/searchbar.scss */
.searchbar {
  display: grid;
  height: 3.5vh;
  width: 27.25vh;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 35vh;
  text-align: center;
  margin-left: 22.5vh;
  color: grey;
}

/* line 14, /Users/tyler/Git/eden/app/assets/stylesheets/components/searchbar/searchbar.scss */
.search-item {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  width: 250px;
}

/* line 25, /Users/tyler/Git/eden/app/assets/stylesheets/components/searchbar/searchbar.scss */
.search-img {
  width: 50%;
}

/* line 30, /Users/tyler/Git/eden/app/assets/stylesheets/components/searchbar/searchbar.scss */
.search-item {
  color: black;
  text-align: center;
}

/* line 35, /Users/tyler/Git/eden/app/assets/stylesheets/components/searchbar/searchbar.scss */
.search-item:hover {
  color: black;
}
/* line 1, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.session-button {
  position: relative;
  top: -.1rem;
  margin: 0 .6rem;
  height: 2.2rem;
  font-size: 1.2rem;
  line-height: 2.2rem;
  border-radius: .2rem;
  text-align: center;
  white-space: nowrap;
  padding: 0 .8rem;
  border: none;
  width: 8rem;
}

/* line 16, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.signup-button {
  background-color: #fff;
  color: #224099;
}

/* line 21, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.login-button {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

/* line 27, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.modal-body, .modal-title, .modal-footer {
  font-size: 18px;
}

/* line 31, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.auth-input {
  margin-left: 2px;
  border: none;
}

/* line 36, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.session-form {
  z-index: 0.1;
}

/* line 40, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.modal-body {
  display: flex;
  flex-direction: column;
}

/* line 45, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.dropdown-form {
  background-color: white;
  border: 1px solid white;
}

/* line 50, /Users/tyler/Git/eden/app/assets/stylesheets/components/session/modal.scss */
.user-profile-icon {
  font-size: 10px;
}
/* line 1, /Users/tyler/Git/eden/app/assets/stylesheets/components/track/track_index.scss */
.track-index {
  margin-bottom: 64px;
}

/* line 5, /Users/tyler/Git/eden/app/assets/stylesheets/components/track/track_index.scss */
.upload-button {
  border: 1px solid gray;
  margin: 2vh 2vh;
}

/* line 10, /Users/tyler/Git/eden/app/assets/stylesheets/components/track/track_index.scss */
.similar-track-item, .track-item, .track-sitem, .track-detail, .controls > button {
  outline: none;
}
/* line 1, /Users/tyler/Git/eden/app/assets/stylesheets/components/track/track_profile.scss */
.track-profile {
  color: white;
  padding-top: 9vh;
  height: 100vh;
  background-image: url("https://s3-us-west-1.amazonaws.com/eden-audio/application_images/track_detail_background.jpg"), radial-gradient(#3B30CA, #2847BB);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 11, /Users/tyler/Git/eden/app/assets/stylesheets/components/track/track_profile.scss */
.track-detail-container {
  padding-top: 5vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #fff;
}

/* line 23, /Users/tyler/Git/eden/app/assets/stylesheets/components/track/track_profile.scss */
.track-detail {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #fff;
}

/* line 31, /Users/tyler/Git/eden/app/assets/stylesheets/components/track/track_profile.scss */
.track-detail-img {
  width: 40vh;
  height: 40vh;
}

/* line 36, /Users/tyler/Git/eden/app/assets/stylesheets/components/track/track_profile.scss */
.track-detail-title {
  margin-top: 2.5vh;
  font-size: 3vh;
}

/* line 41, /Users/tyler/Git/eden/app/assets/stylesheets/components/track/track_profile.scss */
.track-detail-artist {
  margin: 1vh 0;
}

/* line 45, /Users/tyler/Git/eden/app/assets/stylesheets/components/track/track_profile.scss */
.similar-tracks-column {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin-top: 25px;
  margin-left: 15px;
}

/* line 55, /Users/tyler/Git/eden/app/assets/stylesheets/components/track/track_profile.scss */
.similar-tracks-body {
  width: 350px;
}

/* line 59, /Users/tyler/Git/eden/app/assets/stylesheets/components/track/track_profile.scss */
.similar-track-item {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  text-align: left;
}

/* line 68, /Users/tyler/Git/eden/app/assets/stylesheets/components/track/track_profile.scss */
.similar-track-item > img {
  width: 75px;
}

/* line 75, /Users/tyler/Git/eden/app/assets/stylesheets/components/track/track_profile.scss */
.track-item-text {
  margin: 5px 12px;
}

/* line 78, /Users/tyler/Git/eden/app/assets/stylesheets/components/track/track_profile.scss */
.similar-tracks-header {
  margin-right: 67px;
}
/* line 1, /Users/tyler/Git/eden/app/assets/stylesheets/components/track/track_sidebar_index.scss */
.track-sitem {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 15px 0;
}

/* line 11, /Users/tyler/Git/eden/app/assets/stylesheets/components/track/track_sidebar_index.scss */
.track-sitem-image {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}

/* line 17, /Users/tyler/Git/eden/app/assets/stylesheets/components/track/track_sidebar_index.scss */
.track-sitem-text {
  font-size: 12px;
}
/* line 1, /Users/tyler/Git/eden/app/assets/stylesheets/components/user/my_stations.scss */
.my-stations-detail {
  font-size: 40px;
  margin: 2vh 3em;
  padding: 10px 0px;
  border-bottom: 1px solid grey;
}
/* line 1, /Users/tyler/Git/eden/app/assets/stylesheets/components/user/profile_page.scss */
.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10vh 10em;
}

/* line 8, /Users/tyler/Git/eden/app/assets/stylesheets/components/user/profile_page.scss */
.track-index-header {
  font-size: 40px;
  border-bottom: 1px solid grey;
  margin: 20px 0px;
}

/* line 16, /Users/tyler/Git/eden/app/assets/stylesheets/components/user/profile_page.scss */
.track-index {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* line 23, /Users/tyler/Git/eden/app/assets/stylesheets/components/user/profile_page.scss */
.track-item {
  width: 200px;
  margin: 10px 20px;
}

/* line 29, /Users/tyler/Git/eden/app/assets/stylesheets/components/user/profile_page.scss */
.track-item-content {
  width: 100%;
}
/* line 1, /Users/tyler/Git/eden/app/assets/stylesheets/components/user/user_profile.scss */
.dropdown {
  margin-bottom: 11px;
  margin-right: 10px;
}

/* line 6, /Users/tyler/Git/eden/app/assets/stylesheets/components/user/user_profile.scss */
.img-circle {
  border-radius: 50%;
}

/* line 10, /Users/tyler/Git/eden/app/assets/stylesheets/components/user/user_profile.scss */
.dropdown-button {
  width: 0.1px;
  height: 0.1px;
  z-index: 10000;
}

/* line 19, /Users/tyler/Git/eden/app/assets/stylesheets/components/user/user_profile.scss */
.dropdown-menu {
  top: 5.7vh !important;
  left: -9em !important;
  padding: 0 !important;
  border: none !important;
  color: #fff;
  background-color: #fff;
}

/* line 28, /Users/tyler/Git/eden/app/assets/stylesheets/components/user/user_profile.scss */
.user-profile-icon {
  position: relative;
  top: -1.7vh;
  left: -1.7em;
  height: 40px;
  width: 40px;
}

/* line 36, /Users/tyler/Git/eden/app/assets/stylesheets/components/user/user_profile.scss */
.link {
  margin-left: 10px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 18, /Users/tyler/Git/eden/app/assets/stylesheets/application.css.scss */
* {
  font-family: 'Roboto', sans-serif;
}

/* line 22, /Users/tyler/Git/eden/app/assets/stylesheets/application.css.scss */
button {
  border: none;
  background: none;
}

/* line 27, /Users/tyler/Git/eden/app/assets/stylesheets/application.css.scss */
input {
  background: none;
  border: none;
}

/* line 32, /Users/tyler/Git/eden/app/assets/stylesheets/application.css.scss */
.link {
  color: black;
}
