.body {
  display: flex;
  flex-wrap: wrap;
  width:100%;
  flex-direction: row;
  background-color: rgb(242, 242, 242);
  height: 90vh;
  overflow-y: auto;
}


.body-audio {
  width: 100%;
  display: flex;
  flex-direction: column;
}
