.playbar {
  width: 100%;
  background-color: #18298A;
  color: #FFF;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.react-player {
  display: none;
}

.playbar-track_detail, .controls-progress-container, .volume-container {
  height: 10vh;
}

.playbar-track-detail {
  display: flex;
  flex-direction: row;
  margin-left: 5vh;
  width: 20%;
  margin-right: 20vh;
}

.playbar-track-text {
  margin-left: 1.5vh;
}

.playbar-track-image {
  width: 50px;
  height: 50px;
  margin-top: 5px;
}

.playbar-track-title {
  font-size: 2vh;
  margin-top: 3.5px;
  margin-bottom: 5px;
}

.playbar-track-artist {
  font-size: 1.75vh;
}

.controls-progress-container, .volume-container {
  margin-top: 2.5vh;
}

.controls-progress-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.controls {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.volume-button, .controls > button {
  margin: 0 3.25vh;
}

.progress-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.time {
  margin-bottom: 3vh;
}
.progressbar {
  margin: -5vh 2.5vh;
  width: 100%;
}

.volume-container {
  display: flex;
  flex-direction: row;
  width: 25%;
  align-items: center;
  margin-left: 10vh;
  margin-right: 5vh;
  height: 100%;
}

.volume-slider {
  margin-bottom: 2.5px;
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
}

.volume-button {
  margin-left: 7.5vh;
  display: flex;
  flex-direction: row;
  font-size: 2vh !important;
}

.like-dislike-highlight, .repeat-on {
  color: #FF7100;
}
