.playbar-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 10vh;
}

.react-player {
  display: none;
}

.controls {
  display: flex;
  flex-direction: row;

}

.time-elapsed {
  display: inline-flex;
}
