.dropdown{
  margin-bottom: 11px;
  margin-right: 10px;
}

.img-circle {
  border-radius: 50%;
}

.dropdown-button {
  width: 100%;
  width: 1px;
  height: 1px;
}
.dropdown-menu{
  top: 5.7vh !important;
  left: -9em !important;
  // left: 5em;
}
.user-profile-icon {
  position: relative;
  top: -1.7vh;
  left: -1.7em;
  height: 40px;
  width: 40px;
}

.link{
  margin-left: 10px;
}
