.user-profile {
  background-color: #fff;
  margin-bottom: 15vh;
}

.img-circle {
  border-radius: 50%;
}

.user-profile-icon {
  height: 5vh;
  width: 5vh;
  margin-right: 5vh;
}

.auth-modal {
  margin-bottom: 2.5vh;
}

.user-detail {
  display: flex;
  flex-direction: column;
  font-size: 5vh;
  margin-left: 2vh;
}
