.user-profile {
  background-color: #fff;
  margin-bottom: 15vh;
}

.auth-modal {
  margin-bottom: 2.5vh;
}

.user-detail {
  display: flex;
  flex-direction: column;
  font-size: 5vh;
  margin-left: 2vh;
}
