.homepage {
  display: flex;
  flex-direction: row;
}

.homepage-sidebar {
  flex-direction: column;
  width: 250px;

  background: #20008A; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#20008A, #1E105B); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#20008A, #1E105B); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#20008A, #1E105B); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#20008A, #1E105B); /* Standard syntax */
  background-blend-mode: overlay;
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
  color: #fff;

}

.homepage-sidebar-header {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}


.homepage-main {

  /* Full height */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  // color: #d3d3d3;
}

.bgimg {
  position: relative;
  opacity: 0.9;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 825px;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  background-position: left 0 top;
}

.bgimg-1 {
  background-image: url('https://s3-us-west-1.amazonaws.com/eden-audio/application_images/splash1.jpg');
}

.bgimg-2 {
  background-image: url('https://s3-us-west-1.amazonaws.com/eden-audio/application_images/splash2.jpg');
}

.bgimg-3 {
  background-image: url('https://s3-us-west-1.amazonaws.com/eden-audio/application_images/splash3.jpeg');
}

.caption {
  position: absolute;
  right: 3.5em;
  top: 50%;
  width: 100%;
  height: 10vh;
  text-align: center;
  color: #000;
  display: flex;
  align-content: center;
  justify-content: center;
}

.border {
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.feature {
  font-size: 18px;
  color: #777;
  background-color: #f2f5f9;
  position: relative;
  letter-spacing: 10px;
  text-align:center;
  padding:20px 10px;
  text-align: justify;
}


.homepage-footer {
  padding-top: 10px;
  padding-bottom: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #18298A;
}

.footer-author, .footer-icon {
  color: #f2f5f9;
  font-size: 26px !important;
}
.footer-icon {
  margin: 0 10px;
}
