.parallax {

  background-image: url('https://s3-us-west-1.amazonaws.com/eden-audio/application_images/homepage2.jpg');
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200vh;
  background-color: red;
  font-size: 36px;
}

.splash1 {
}
