.searchbar {
  border: 1px solid #fff;
  display: grid;
  height: 3.5vh;
  width: 27.25vh;
  background-color: #fff;
}

.search-item {
  background-color: #fff;
}

.search-img {
  height: 25vh;
  width: 25vh;
}

.search-text {
  text-align: center;
}
