.searchbar {
  border: 1px solid #fff;
  display: grid;
  height: 3.5vh;
  width: 27.25vh;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 35vh;
  text-align: center;
}

.search-item {
  background-color: #fff;
}

.search-img {
  height: 20vh;
  width: 20vh;
}


.search-item {
  color: black;
  text-align: center;
}

.search-item:hover {
  color: black;
}
